---
layout: base
---

<div class="bigheader">
  <div class="container_16">

    <div class="grid_4">
      <img src="resources/images/logo-pc-2.png" alt="logo"></img>
    </div>

    <div class="container_11">
      <div class="grid_11 alpha titlemain">Parallel Collections 2.0</div>
      <div class="grid_11 omega titleslogan">A Scala-based data-parallel collections framework for the JVM</div>
    </div>

  </div>
</div>

<div class="darkdivider"></div>
<div class="topshadow"></div>

<div id="content">
  <div id="main" class="container_16">

    <div class="grid_16">

      <div class="grid_8 alpha">
        {% capture main_test %}
          {% include main-test-example.md %}
        {% endcapture %}
        {{ main_test | markdownify }}
      </div>
      <div class="grid_6 push_1">
        <br/>
        <br/>
        Parallel Collections 2.0 description TODO
        <br/>
        TODO features
        <ul class="bullets">
          <li>feature 1</li>
          <li>feature 2</li>
        </ul>
      </div>
      <div class="grid_3 omega">
      </div>

    </div>

    <div class="grid_16"><br/></div>

    <div class="grid_16">

      <div class="grid_7 alpha">
        <br/>
        Parallel collections 2.0 more descriptions
        TODO features
        <ul class="bullets">
          <li>feature 1</li>
          <li>feature 2</li>
        </ul>
      </div>
      <div class="grid_1">
        <br/>
      </div>
      <div class="grid_8 omega">
        {% capture main_run %}
          {% include main-run-example.md %}
        {% endcapture %}
        {{ main_run | markdownify }}
      </div>

    </div>

    <div class="grid_16"><br/></div>

    <div class="grid_16"><h1>Features</h1></div>

    <div class="grid_8">
      <ul class="bullets">
        <li>feature 1</li>
        <li>feature 2</li>
      </ul>
    </div>
    <div class="grid_8">
      <ul class="bullets">
        <li>feature 3</li>
        <li>feature 4</li>
      </ul>
    </div>

    <div class="grid_16">See the <a href="/pc2/home/documentation">Documentation</a> section for instructions and more examples.</div>

  </div>
</div>












