---
layout: base
---

{% capture homedir %}{% include homedir.md %}{% endcapture %}
<div class="bigheader">
  <div class="container_16">

    <div class="grid_4">
      <img height="230" src="resources/images/chess-knight-logo.png" alt="logo"></img>
    </div>

    <div class="container_11">
      <div class="grid_11 alpha titlemain">&nbsp; ScalaBlitz</div>
      <div class="grid_11 omega titleslogan">&nbsp; &nbsp; Lightning-fast Scala collections framework</div>
    </div>

  </div>
</div>

<div class="darkdivider"></div>
<div class="topshadow"></div>

&nbsp;

<div id="content">
  <div id="main" class="container_16">
    <div class="grid_16">

      <div class="grid_7 alpha">
        {% capture main_headline_0 %}{% include main-headline-0.md %}{% endcapture %}
        {{ main_headline_0 | markdownify }}
      </div>
      <div class="grid_1">
        <br/>
      </div>
      <div class="grid_8 omega">
        {% capture main_example_0 %}
          {% include main-example-0.md %}
        {% endcapture %}
        {{ main_example_0 | markdownify }}
      </div>

    </div>

    <div class="grid_16">

      <div class="grid_8 alpha">
        {% capture main_example_1 %}
          {% include main-example-1.md %}
        {% endcapture %}
        {{ main_example_1 | markdownify }}
      </div>
      <div class="grid_6 push_1">
        {% capture main_headline_1 %}{% include main-headline-1.md %}{% endcapture %}
        {{ main_headline_1 | markdownify }}
        <br/>
      </div>
      <div class="grid_3 omega">
      </div>

    </div>

    <div class="grid_16"><br/></div>

    <div class="grid_16">

      <div class="grid_7 alpha">
        {% capture main_headline_2 %}{% include main-headline-2.md %}{% endcapture %}
        {{ main_headline_2 | markdownify }}
      </div>
      <div class="grid_1">
        <br/>
      </div>
      <div class="grid_8 omega">
        {% capture main_example_2 %}
          {% include main-example-2.md %}
        {% endcapture %}
        {{ main_example_2 | markdownify }}
      </div>

    </div>

    <div class="grid_16"><br/></div>

    <div class="grid_16"><h1>Features</h1></div>

    <div class="grid_8">
      <ul class="bullets">
        <li>highly optimized collection operations based on Scala Macros</li>
        <li>variety of supported collection types and Scala standard library collections interoperability</li>
        <li>flexible API easily extendable to custom collections</li>
      </ul>
    </div>
    <div class="grid_8">
      <ul class="bullets">
        <li>seamless data-parallel operations integration</li>
        <li>data-parallel scheduling suitable both for fine-grained uniform and irregular workloads</li>
        <li>custom configurable data-parallel schedulers</li>
      </ul>
    </div>

    <div class="grid_16">See the <a href="{{ homedir }}/home/documentation">Documentation</a> section for instructions and more examples.</div>

  </div>
</div>












